{% extends "main.html" %}
{% block content %}

<a class="top-menu text-right" href="{{url_for('showLogin')}}">Click Here to Log in </a>

<div class="row divider blue">
</div>

<h2 class="row banner main ">The Item Catalog!<h2>

   <div class="col-md-5">
        <h1>Categories</h1>
      </div>
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>



	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">

		</div>
		<div class="col-md-1"></div>
	</div>
  <div class="row">
  <div class="col-md-6">
	{% for category in categories %}
		<a href = "{{url_for('showCategory', category_id = category.id)}}">
					<div class="col-md-6 category-list">
						<h3>{{category.name}}</h3>
          </div>
			</a>
	{% endfor %}
</div>

<div class="col-md-6">
  <h3> Check out the newest cool items!</h3>
	{% for p in newProducts %}
  <p> <a href="{{url_for('showProduct', category_id = p.category_id, product_id=p.id)}}">{{p.name}} </a>(
   {% for c in categories %}
     {% if c.id == p.category_id %}
       {{c.name}}
     {% endif %}
   {% endfor %}
     )</p>
	{% endfor %}
</div>
</div>
{% endblock %}
